{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint-config-egg", "plugin:prettier/recommended"]
}
